body{
    background-color: #FDFBEE;
    font-family: "Roboto Slab", sans-serif;
}


.main_head{
    /*TODO change headers in css*/
}

h1{
font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-color: #FE4F2D;
}

h2{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: #57B4BA;
}

h3{
    color: #57B4BA;
    font-weight: 500;
}

img{
    border-radius: 3px;
    border: 5px solid #FE4F2D
}


.link_defined{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:"ROND" 0;


}

a{
    color: #015551;
    
}

#img_of_me{
    margin-right: 30px;
    display: inline;
}

#summary {
    width: 45%;
    float: right;
    margin-left: 30px;

}

@media(max-width:680px)
{
    #summary{
        width: 100%;

    }
}